<h3>News-<span>最新消息</span></h3>
<hr class="hr0" />
<a onclick="getNewsList(1)" style="cursor:pointer">公告</a>    <a onclick="getNewsList(2)" style="cursor:pointer">商品</a>    <a onclick="getNewsList(3)" style="cursor:pointer">活動</a><br>
<a href="./edit?action=add">新增</a>
<hr class="hr0" />
<section class="news_list">
    <ul class="word_size" id="news_list_body"></ul>
</section>
<script>
    function getNewsList(type){
        var newsBody = $("#news_list_body");
        $.post('/member/news/getNewsList', {
            Type: type
        },function(listData){
            $("#news_list_body").empty();
            listData.forEach(function(news,index){
                var newsLi = jQuery('<li/>', {
                    class: (index%2 == 0) ? "bg_grey" : ""
                });
                var newsA = jQuery('<a/>', {
                    text: news.Title
                });
                jQuery('<strong/>', {
                    text: moment(news.Date).format("YYYY/MM/DD")
                }).appendTo(newsA);
                jQuery('<button/>', {
                    text: "前往網址",
                    onclick: "location.href='/front/news?NO="+news.NO+"'"
                }).appendTo(newsA);
                jQuery('<button/>', {
                    text: "編輯",
                    onclick: "editView('"+news.NO+"')"
                }).appendTo(newsA);
                jQuery('<button/>', {
                    text: "刪除",
                    onclick: "remove('"+news.NO+"')"
                }).appendTo(newsA);
                newsLi.append(newsA);
                $("#news_list_body").prepend(newsLi);
            });
        });
    }
    function remove(no){
        console.log(no);
    }
    getNewsList(1);
</script>