<div id="wrap_right_body"></div>
<script>
    function listView(){
        $.post('/newcontrol/changeView',{
            Type: 'list'
        },function(html){
            $("#wrap_right_body").html(html);
        },'html');
    }
    function editView(newsNo){
        $.post('/newcontrol/changeView',{
            Type: 'edit',
            NewsNo: newsNo
        },function(html){
            $("#wrap_right_body").html(html);
        },'html');
    }
    listView();
</script>