/* Desktop */
			*{
				margin:0px;
				padding:0px;
			}
			a{ 
			 	text-decoration:none;
			}
			body{
				position:relative;
				min-height:800px;
			}
			#wrap_top{
				width:100%;
				min-height:100px;
				background-color:white;
			}
			#wrap_top_hide{
				width:100%;
				min-height:70px;
				background-color:white;
				display:none;
			}
			#logopic{
				width:15%;
				margin-left:10%;
				float:left;
				vertical-align:middle;
				padding-top:10px;
			}
			#logopic img{
				max-width:100%;
				float:left;
				margin-bottom:15px;
			}
			.changetosmall{
				animation: changetosmall 0.5s;
				animation-iteration-count:1;
				animation-fill-mode : both;
			}
			@keyframes changetosmall
			{
				from {width:100%;}
				to {width:50%;}
			}
			#wrap_top ul{
				width:50%;
				margin-left:43%;
			}
			#wrap_top ul li{
				line-height:100px;
				margin-left:5%;
				float:left;
				font-size: 16px;
				font-family: 'Microsoft Yahei';
				letter-spacing: 2px;
				color: #555;
				font-weight: 400;
				list-style-type:none;
			}
			#wrap_top ul li:hover{
				color: #0047AB;
				cursor: pointer;
			}
			#member{
				position:absolute;
				width:8%;
				top:10px;
				right:5px;
				font-family: '�L�n������';
				font-size:12px;
				font-weight: 600;
				color:#6B92BE;
				text-align:center;
				padding:5px;
			}
			#login{
				float:left;
				width:40%;
				margin-left:15%;
				cursor: pointer;
			}
			#register{
				float:left;
				width:40%;
				cursor: pointer;
			}
			#logout{
				float:left;
				width:40%;
				cursor: pointer;
			}
			#login:hover, #register:hover{
				color:#EB655D;
			}
			#wrap_banner{
				position:relative;
				width:100%;
				background:#F5F5F5
			}
			.mySlides {display:none}
			#wrap_banner img{
				width:50%;
				margin-left:25%;
			}
			.w3-left, .w3-right, .w3-badge {cursor:pointer}
			.w3-badge {height:13px;width:13px;padding:0}
			.slide_rightbutton{
				position:absolute;
				top:50%;
				left:90%;
				color:#7AB8CC;
				font-size:25px;
				cursor: pointer;
				z-index: 1000;
			}
			.slide_leftbutton{
				position:absolute;
				top:50%;
				left:10%;
				color:#7AB8CC;
				font-size:25px;
				cursor: pointer;
				z-index: 1000;
			}
			.slide_rightbutton:hover, .slide_leftbutton:hover{
				color:#0047AB;
			}
			#side{
				position: fixed;
				top:85%;
				right:5%;
				width:8%;
				z-index:1001; 
			}
			.index_section{
				width:70%;
				margin-left:15%;
				margin-top:60px;
				font-family: "�L�n������";
			 	color:#555; 
			}
			.index_section h3 {
			  font-size: 22px;
			  letter-spacing: 3px;
			  background-position: left center;
			  margin-bottom: 20px;
			}
			.index_section h3 span {
			  font-size: 16px;
			  font-family:"Microsoft Yahei"
			}
			.index_section h3 i {
			  background-color: #FFFFFF;
			}
			.hr0{ height:1px;border:none;border-top:1px dashed #555;}
			.index-product ul {
			  font-size: 0;
			}
			/*.index-product ul li {*/
			/*  vertical-align: top;*/
			/*  font-size: 14px;*/
			/*  text-align: center;*/
			/*  display: inline-block;*/
			/*  margin-bottom: 60px;*/
			/*}*/
			.index-product ul li{
				margin-right:2%;
				float:left;
			}
			.index-product ul li a {
			  width: 198px;
			  display: block;
			}
			.index-product ul li a:hover {
			  color: #C6273F;
			}
			.index-product div {
			  width: 200px;
			  height: 152px;
			  border: 1px #C0C1C0 solid;
			  line-height: 150px;
			  position: relative;
			  overflow:hidden;
			}
			.index-product div a {
			  width: 100%;
			}
			.index-product div a:after {
			  background-image: url(../../../includes/images/front/link_icon.png);
			  background-position: center center;
			  background-repeat: no-repeat;
			  content: '�@';
			  position: absolute;
			  width: 200px;
			  left: 0;
			  z-index: 2;
			  display: none;
			}
			.index-product div img {
			  max-width: 198px;
			  max-height: 150px;
			  width: auto;
			  height: auto;
			  vertical-align: middle;
			  margin-top: -2px;
			}
			.index-product h5 {
			  line-height: 150%;
			  font-size: 15px;
			  margin: 10px 0 5px 0;
			}
			.index-product span {
			  display: inline;
			  padding-left: 15px;
			  color: #C6273F;
			}
			.bg_grey {
			    background-color: #f0f0f0;
			}
			ul {
			    list-style: none;
			}
			.news_list li {
				padding-top: 10px;
				padding-bottom: 10px;
				position: relative;
				padding-left: 110px;
				padding-right: 10px;
				width:853px;
			}
			.news_list em {
				color: #2d2929;
				position: absolute;
				width: 150px;
				right: 0px;
				top: 10px;
			}
			.news_list li a {
			    padding-right: 150px;
			    display: block;
			    position:relative;
			}
			.news_list strong {
				font-weight: normal;
				color: #2d2929;
				position: absolute;
				display: block;
				left: -100px;
				top: 0px;
			}
			.news_list a {
				color: #2d2929;
			}
			.news_list a:hover {
				color: #db5106;
			}
			.news_list {
				margin-bottom: 30px;
				clear: both;
			}
			#white_box{
				position: relative;
				height:100px;
			}
			#footer{
				position: relative;
				min-width: 1200px;
				border-bottom: 20px #0047AB solid;
				border-top: 1px #717071 solid;
				padding-top: 20px;
				padding-bottom: 20px;
				bottom:0px;
				width:100%;
			}
			.footer_text1{
				color:#ccc;
				font-size:12px;
    			float: left;
    			width: 35%;
    			margin-left:22.5%;
    			font-family: 'Microsoft Yahei';
				letter-spacing: 2px;
				color: #555;
			}
			.footer_text2{
				color:#ccc;
				font-size:12px;
    			float: left;
    			width: 35%;
    			margin-left:2.5%;
    			font-family: 'Microsoft Yahei';
				letter-spacing: 2px;
				color: #555;
			}
			.footer_text2 a:hover{
				color:#0047AB;
			}
			.clear{
				clear:both;
			}
			.button_red {
				-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
				-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
				box-shadow:inset 0px 1px 0px 0px #f5978e;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
				background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
				background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
				background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
				background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
				background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
				background-color:#f24537;
				-moz-border-radius:6px;
				-webkit-border-radius:6px;
				border-radius:6px;
				border:1px solid #d02718;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:15px;
				font-weight:bold;
				padding:6px 24px;
				text-decoration:none;
				text-shadow:0px 1px 0px #810e05;
			}
			.button_red:hover {
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
				background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
				background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
				background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
				background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
				background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
				background-color:#c62d1f;
			}
			.button_red:active {
				position:relative;
				top:1px;
			}

			.button_blue {
				-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
				-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
				box-shadow:inset 0px 1px 0px 0px #97c4fe;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
				background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
				background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
				background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
				background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
				background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
				background-color:#3d94f6;
				-moz-border-radius:6px;
				-webkit-border-radius:6px;
				border-radius:6px;
				border:1px solid #337fed;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:Arial;
				font-size:15px;
				font-weight:bold;
				padding:6px 24px;
				text-decoration:none;
				text-shadow:0px 1px 0px #1570cd;
			}
			.button_blue:hover {
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
				background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
				background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
				background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
				background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
				background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
				background-color:#1e62d0;
			}
			.button_blue:active {
				position:relative;
				top:1px;
			}
			.member_box_login, .member_box_register, .member_box_register_success{
				position:fixed;
				width:40%;
				height:70%;
				left:150%;
				top:15%;
				z-index:1004;
				display:block;
				background:white;
				box-shadow:0px 2px 5px black;
				overflow:auto;
				border-radius:1.5em;
				font-family: "微軟正黑體";
			 	color:#555;
			 	font-size:16px;
			}
			.member_box_bg{
				position:fixed;
				width:100%;
				height:100%;
				z-index:-1000;
				left:150%;
				background:black
			}
			.changememberopacity{
				z-index:1003;
				left:0%;
				animation: changememberopacity 0.8s;
				animation-iteration-count:1;
				animation-fill-mode : both;
			}

			.changemembertrue{
				animation: opacityto1 0.5s;
				animation-iteration-count:1;
				animation-fill-mode : both;
			}
			@keyframes opacityto1
			{
				from {opacity:0;}
				to {opacity:1;}
			}
			@keyframes changememberopacity
			{
				from {opacity:0;}
				to {opacity:0.8;}
			}
			.member_box_top{
				width:100%;
				height:10%;
				background:#0047AB;
			}
			.member_box_text1{
				width:80%;
				margin-left:10%;
				float:left;
				margin-top:15%;
			}
			.member_box_text2{
				width:80%;
				margin-left:10%;
				margin-top:5%;
				float:left;
			}
			.member_box_text3{
				width:80%;
				margin-left:10%;
				margin-top:3%;
				float:left;
			}
			.member_box_input{
				width:70%;
				float:right;
			}
			.member_box_usetext{
				font-size:12px;
				width:70%;
				
				margin-left:30%;
				margin-top:5%;
			}
			.small_button {
			  position:relative;
			  text-align: center;
			  margin-bottom: 5%;
			  margin-top:10%;
			}
			.all_button {
			  position:relative;
			  text-align: center;
			  margin-bottom: 5%;
			  margin-top:10%;
			}
			#side_member{
				position: fixed;
				top:70%;
				right:5%;
				width:8%;
				z-index:1001; 
			}
