.float_box {
    position: fixed;
    width: 40%;
    height: 70%;
    left: 150%;
    top: 15%;
    z-index: 1004;
    display: block;
    background: white;
    box-shadow: 0px 2px 5px black;
    overflow: auto;
    border-radius: 1.5em;
    font-family: "微軟正黑體";
    color: #555;
    font-size: 16px;
}

.float_box_top {
    width: 100%;
    height: 10%;
    background: #0047AB;
}

.float_box_text1 {
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-top: 15%;
}

.float_box_text2 {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
}

.float_box_text3 {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    float: left;
}

.float_box_input {
    width: 70%;
    float: right;
}

.float_box_file_input {
    width: 70%;
    float: right;
}

.float_box_usetext {
    font-size: 12px;
    width: 70%;
    margin-left: 30%;
    margin-top: 5%;
}

.float_box_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1000;
    left: 150%;
    background: black;
}

.change_float_box_opacity {
    z-index: 1003;
    left: 0%;
    animation: change_float_box_opacity 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.change_float_box_true {
    animation: opacityto1 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes opacityto1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes change_float_box_opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.button_red {
    -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color: #f24537;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

    .button_red:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
        background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
        background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
        background-color: #c62d1f;
    }

    .button_red:active {
        position: relative;
        top: 1px;
    }

.button_blue {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color: #3d94f6;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

    .button_blue:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
        background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
        background-color: #1e62d0;
    }

    .button_blue:active {
        position: relative;
        top: 1px;
    }

.small_button {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
}

.all_button {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
}
