<div id="new_password" >
	<form id="form_new_password">
		<div>
			新密碼：
			<input  class="member_box_input" name="m_new_password" type="password">
		</div>
		<div>
			再次輸入新密碼：
			<input  class="member_box_input" name="m_new_password_confirm" type="password">
		</div>
		<div class="all_button">
			<button type="button" class="button_red" onclick="SendNewPasswordData()">確認送出</button>
		</div>
	</form>
</div>
<h1 id="newPasswordMessage" style="display:none"></h1>