<div id="wrap_banner">
    <div class="slide_leftbutton" onclick="plusDivs(-1)">&#10094;</div>
    <div class="slide_rightbutton" onclick="plusDivs(1)">&#10095;</div>
    <div class="w3-content w3-display-container" style="max-width:100%">
        <img class="mySlides w3-animate-opacity" src="public/images/banner.jpg">
        <img class="mySlides w3-animate-opacity" src="public/images/banner2.jpg">
        <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        </div>
    </div>
</div>
<div class="news index_section">
    <h3>News-<span>最新消息</span></h3>
    <hr class="hr0" />
    <section class="news_list">
        <ul class="word_size">
            <li class="bg_grey">
                <a title="" href="">
                    <strong>2017/02/10</strong>最新商品出清 全館最低下殺一折 !!
                </a>
            </li>
            <li class="">
                <a title="" href="">
                    <strong>2017/02/10</strong>最新商品出清 全館最低下殺一折 !!
                </a>
            </li>
            <li class="bg_grey">
                <a title="" href="">
                    <strong>2017/02/10</strong>最新商品出清 全館最低下殺一折 !!
                </a>
            </li>
        </ul>
    </section>
</div>
<div class="news index_section">
    <h3>Products-<span>熱門產品</span></h3>
    <hr class="hr0" />
    <div class="index-product">
        <ul>
            <li>
                <div>
                    <a href=""><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/61044ed2d42b0add5a204bd0116cb454.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/46">台農純水濕巾80P(巧虎)</a>
                </h5>售價 $470<span class="price">定價 $450</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/59"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/16320c822b327a824e01bc3c5f92c5fa.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/59">無鹿氏三截鋁桿拖把</a>
                </h5>售價 $150<span class="price">定價 $120</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/60"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/000108d297e9e2a0c185b9fd0cc3cfe6.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/60">台農乾濕擦拭巾100g</a>
                </h5>售價 $30<span class="price">定價 $20</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/61"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/60514fb92df66ff17d95c5ea25dd8c4e.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/61">台農乾濕擦拭巾2捲+1拖</a>
                </h5>售價 $520<span class="price">定價 $500</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/62"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/e9c3faedc7b55e0ec48dfdcf806a7ce7.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/62">台農乾濕擦拭巾3+1捲</a>
                </h5>售價 $750<span class="price">定價 $720</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/63"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/61173bd07c4681b502bdfa89adbb3acc.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/63">台農乾濕擦拭巾1000g</a>
                </h5>售價 $920<span class="price">定價 $900</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/47"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/75597974fd4b6969d7eed91f7de5af03.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/47">台農純水濕巾10P(巧虎)</a>
                </h5>售價 $620<span class="price">定價 $600</span>
            </li>
            <li>
                <div>
                    <a href="/front/product/details/48"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/c670c69c5780ea82e93f8c6f4b1c7cc0.jpg" alt="" width="185" height="110"></a>
                </div>
                <h5>
                    <a href="/front/product/details/48">台農純水濕巾20P(巧虎)</a>
                </h5>售價 $980<span class="price">定價 $960</span>
            </li>
        </ul>
    </div>
</div>
