<style>
.about_history {
  width: 725px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
}
.about_history p {
  line-height: 220%;
  padding-bottom: 40px;
}
.about_history h3 {
  margin: 45px 0 20px 0;
}
.about_history div {
  padding-bottom: 40px;
}
.about_history div img {
  border: 1px solid #CCCCCC;
  margin: 15px 15px 5px 15px;
}
.about_history td {
  text-align: center;
}
</style>


<div>

<div class="about_history"><img alt="台農有限公司" src="/includes/images/front/about/about_pic.jpg" style="width: 725px; height: 177px;">
<h3>【公司簡介】</h3>

<p>公司於96年10月30日設立登記：台農百貨有限公司<br>
營業項目：於康那香股份有限公司OEM成人替代片、看護墊及純水濕巾<br>
銷售通路：全國安養院<br>
於民國101年8月24日，公司再於跟南六企業股份有限公司OEM純水濕巾<br>
及面膜各種化妝品(保養品)</p>

<h3>【公司旗下品牌】</h3>

<div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td><img alt="台農" src="/includes/images/front/about/logo1.jpg" style="width: 274px; height: 152px;"></td>
			<td><img alt="優美科" src="/includes/images/front/about/logo2.jpg" style="width: 274px; height: 152px;"></td>
		</tr>
		<tr>
			<td>台農</td>
			<td>優美科</td>
		</tr>
	</tbody>
</table>
</div>

<h3>【產品特色】</h3>

<p>1.採用天然纖維不織布、純水製程、不含酒精及香料等化學成分<br>
2.質地輕柔，不傷肌膚<br>
3.超厚手感，乾淨舒適，使用方便</p>
</div>
</div>