<style>
    .product_box {
        margin-top: 50px;
        width: 100%;
        margin-left: 0%;
    }
    
    .product_category {
        width: 18%;
        float: left;
        margin-left: 10%;
        font-size: 14px;
        margin-top: 20px;
    }
    
    #product_category_searchbar {
        position: relative;
        width: 100%;
    }
    
    #product_category_searchbar img {
        width: 90%;
    }
    
    #product_category_searchbar input {
        position: absolute;
        width: 60%;
        height: 50%;
        left: 25%;
        top: 40%;
    }
    
    .product_category a {
        text-decoration: none;
        font-size: 15px;
        font-family: "微軟正黑體";
        color: #555;
    }
    
    .hr_category {
        height: 1px;
        border: none;
        border-top: 1.5px solid #0047AB;
    }
    
    .product_category h6 {
        font-size: 15px;
        font-family: "微軟正黑體";
        color: #555;
        font-weight: 600;
    }
    
    .product_category ul {
        padding: 8px 20px;
    }
    
    .product_category li {
        display: inline-block;
        margin: 4px 5px 4px 0;
    }
    
    .product_category li:before {
        content: '○';
        font-size: 20px;
        color: #0047AB;
    }
    
    .product_category li:hover a,
    .product_category li:hover:before {
        color: #C6273F;
    }
    
    .product_list {
        width: 65%;
        float: right;
        margin-right: 5%;
        text-align: center;
    }
    
    .product_list h3 {
        font-size: 14px;
        text-align: center;
        background-color: #C6273F;
        color: #FFFFFF;
        line-height: 180%;
    }
    
    .product_list .index-product {
        padding: 25px 0;
    }
    
    .product_list .index-product li {
        margin-bottom: 50px;
    }
    
    .product_list .index-product li a {
        width: 190px;
    }
    
    .product_list .index-product li div {
        width: 190px;
        height: 154px;
        line-height: 152px;
    }
    
    .product_list .index-product li div a:after {
        width: 190px;
    }
    
    .product_list .index-product li div img {
        max-width: 188px;
        max-height: 152px;
        width: auto;
        height: auto;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: -1px;
    }
    
    .product_list p select {
        position: relative;
        font-size: 13px;
        border: 1px #EFC7CD solid;
        top: -2px\0;
    }
    
    .product_list p select * {
        vertical-align: middle;
    }
    
    .index-product ul {
        font-size: 0;
    }
    
    .index-product ul li {
        vertical-align: top;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        margin-bottom: 60px;
        margin-right: 25px;
        float: left;
    }
    
    .index-product ul li a {
        width: 198px;
        display: block;
        text-decoration: none;
    }
    
    .index-product ul li a:hover {
        color: #C6273F;
    }
    
    .index-product div {
        width: 200px;
        height: 152px;
        border: 1px #C0C1C0 solid;
        line-height: 150px;
        position: relative;
        overflow: hidden;
    }
    
    .index-product div a {
        width: 100%;
    }
    
    .index-product div a:after {
        background-image: url(../../../includes/images/front/link_icon.png);
        background-position: center center;
        background-repeat: no-repeat;
        content: '　';
        position: absolute;
        width: 200px;
        left: 0;
        z-index: 2;
        display: none;
    }
    
    .index-product div img {
        max-width: 198px;
        max-height: 150px;
        width: auto;
        height: auto;
        vertical-align: middle;
        margin-top: -2px;
    }
    
    .index-product h5 {
        line-height: 150%;
        font-size: 15px;
        margin: 10px 0 5px 0;
    }
    
    .index-product span {
        display: inline;
        padding-left: 15px;
        color: #C6273F;
    }
    
    #product_page li {
        float: left;
        margin-right: 5%;
        font-size: 15px;
        font-family: "微軟正黑體";
        color: #6B92BE;
        font-weight: 0;
        list-style: none;
    }
    
    #product_page a {
        text-decoration: none;
    }
    
    #product_page .page_rl {
        color: #0047AB;
        font-size: 15px;
        font-weight: 600;
    }
    
    #product_page .now_page {
        color: #555;
        font-size: 15px;
        font-weight: 600;
    }
</style>
<div class="product_box">
    <div class="product_category">
        <h6>產品搜尋</h6>
        <hr class="hr_category" />
        <div id="product_category_searchbar">
            <img src="../public/images/search.png">
            <input type="text">
        </div>
        <ul>
            <li>
                <a href="/front/product/index/4">
			                    濕巾                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/5">
			                    乳品                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/6">
			                    食品                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/7">
			                    日常用品                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/8">
			                    美容用品                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/9">
			                    包包                    </a>
            </li><br>
            <li>
                <a href="/front/product/index/10">
			                    優美科60抽優惠活動                    </a>
            </li><br>
        </ul>
    </div>
    <div class="product_list">
        <div class="index-product">
            <ul>
                <li>
                    <div>
                        <a href="/front/product/details/5"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/bd62a3232d5ac780ac873d55467f8d15.JPG" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/5">台農純水濕巾80P/60g</a>
                    </h5>原價 $470<span class="price">售價 $450</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/6"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/3322f022f5ddbad7f33da406d93f3542.JPG" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/6">優美科純水濕巾80P/55g</a>
                    </h5>原價 $440<span class="price">售價 $420</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/7"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/47ebac05f4e9c82b2be1dabcc6d5c101.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/7">優美科純水濕巾60P/55g</a>
                    </h5>原價 $410<span class="price">售價 $390</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/8"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/c0d61a419a83e91ded5fa7184b3c5e29.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/8">優美科純水濕巾20P/55g</a>
                    </h5>原價 $980<span class="price">售價 $960</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/9"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/930c46eaa41c723efe4744093d2fc2d2.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/9">優美科純水濕巾10P/55g</a>
                    </h5>原價 $620<span class="price">售價 $600</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/10"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/377b22194761df7b67df28405728633c.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/10">25入優美科抹布30×30公分</a>
                    </h5>原價 $220<span class="price">售價 $200</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/12"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/c8d205f94508caedcc4308e3e705e20b.png" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/12">無塵氏濕巾蓋小孔</a>
                    </h5>原價 $70<span class="price">售價 $50</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/13"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/02d44cd90ed3169aac402692fe59e25d.png" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/13">無塵氏濕巾蓋(粉紅色)小孔</a>
                    </h5>原價 $70<span class="price">售價 $50</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/14"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/4c5bab48b2993d3eedfd8b540afa5e7e.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/14">優美科抹布30×30公分</a>
                    </h5>原價 $60<span class="price">售價 $50</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/15"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/4f56cf0028f492c193e2c4c64d5cfd69.JPG" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/15">嬰兒酵素入浴劑300ml</a>
                    </h5>原價 $155<span class="price">售價 $135</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/16"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/1019e077a8c13d58b5c4654ff96fa457.png" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/16">嬰兒酵素入浴劑880ml</a>
                    </h5>原價 $320<span class="price">售價 $300</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/17"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/e5c8c2b31fbd054ddeaf610d826bb1d9.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/17">真珠嬰兒用酵素入浴劑600g</a>
                    </h5>原價 $320<span class="price">售價 $300</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/18"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/82ab6d3118a757d63771dac0a160d3bf.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/18">台農TOP高氧水370ml</a>
                    </h5>原價 $380<span class="price">售價 $360</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/19"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/e37f07d6068e7183040083a1257b7e70.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/19">優美科柔布巾(1組+3補充捲)</a>
                    </h5>原價 $420<span class="price">售價 $400</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/20"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/821e88cb838206364283e2acd2f909da.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/20">優美科柔布巾1組</a>
                    </h5>原價 $150<span class="price">售價 $130</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/21"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/4b69a025d400cc639e33621633c87dcd.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/21">自動掃地機</a>
                    </h5>原價 $6100<span class="price">售價 $5900</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/23"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/b9647c8e118539ee6042938666112e7c.JPG" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/23">保久乳(香蕉戀汝)</a>
                    </h5>原價 $480<span class="price">售價 $460</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/24"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/8161107d11a62ffbdafceb99cb83aaa8.JPG" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/24">保久乳(全脂)</a>
                    </h5>原價 $450<span class="price">售價 $430</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/19"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/e37f07d6068e7183040083a1257b7e70.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/19">優美科柔布巾(1組+3補充捲)</a>
                    </h5>原價 $420<span class="price">售價 $400</span>
                </li>
                <li>
                    <div>
                        <a href="/front/product/details/19"><img src="http://www.tnumec.com.tw/uploads/product/thumbnails/e37f07d6068e7183040083a1257b7e70.jpg" alt="" width="185" height="110"></a>
                    </div>
                    <h5>
                        <a href="/front/product/details/19">優美科柔布巾(1組+3補充捲)</a>
                    </h5>原價 $420<span class="price">售價 $400</span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="product_page">
            <ul>
                <li class="page_rl">
                    <a href="">
                        < </a>
                </li>
                <li class="now_page"><a href=""> 1 </a></li>
                <li><a href=""> 2 </a></li>
                <li><a href=""> 3 </a></li>
                <li><a href=""> 4 </a></li>
                <li><a href=""> 5 </a></li>
                <li><a href=""> 6 </a></li>
                <li><a href=""> 7 </a></li>
                <li><a href=""> 8 </a></li>
                <li><a href=""> 9 </a></li>
                <li><a href=""> 10 </a></li>
                <li class="page_rl"><a href=""> > </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>