	<div id="login-page">
	  	<div class="container">
		      <form class="form-login" id = "form_login">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" name="Account" id="Account" placeholder="User ID" autofocus value="" />
		            <br/>
		            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" value="" />
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="button" id="LoginButton"><i class="fa fa-lock"></i> SIGN IN</button>
		        </div>
		      </form>
	  	</div>
	  </div>
